<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ChapeauDatabase" connectionString="Data Source=den1.mssql7.gear.host; Initial Catalog=chapeau1819sdb08; User ID=chapeau1819sdb08; Password=Tc2N2~P215-y "/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>